@import 'tailwindcss';
/* @import '../styles/components/contactForm.module.scss'; */
/* @import '../styles/components/test.module.scss'; */

html,
body {
  /* max-width: 100vw;
  overflow-x: hidden; */
}

body {
  color: #474747;
  /* font-family: "Poppins", sans-serif; */
  /* font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 2;
  margin: 0;
  overflow-x: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word; */
}

/* @media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
} */

:root {
  --content-max-width: 1200px;
  --theme-color: #eb3e32;
  --white: #fff;
  --white-ca: #cacaca;
}

.custom-before::before {
  @apply content-[''] bg-gray-600 h-[15px] absolute w-[1px] right-0.5 top-0.5;
}

/* для фильтра цен*/
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: var(--theme-color, #333);
  cursor: pointer;
  margin-top: -7px;
  pointer-events: auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type='range']::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: var(--theme-color, #333);
  cursor: pointer;
  pointer-events: auto;
}

@media (pointer: coarse) {
  .touch-opaque {
    opacity: 1 !important;
  }
}
