@use '../../common/variables' as *;

.footer-bottom {
  background-color: #36393f;
  padding: 20px 0px;
  color: $white-ca;

  .container {
    max-width: $container-width;
    margin: 0 auto;

    .row {
      display: flex;
      justify-content: space-between;

      a {
        color: $white-ca;
        text-decoration: none;
      }
    }
  }
}
